<?xml version='1.0' encoding='UTF-8'?>
<widget xmlns="http://wirecloud.conwet.fi.upm.es/ns/macdescription/1" vendor="CoNWeT" name="ngsi-updater" version="3.0">
    <details>
        <title>NGSI Updater</title>
        <authors>Álvaro Arranz García &lt;aarranz@conwet.com&gt;</authors>
        <homepage>https://github.com/wirecloud-fiware/ngsi-updater</homepage>
        <email>aarranz@conwet.com</email>
        <image>images/catalogue.png</image>
        <smartphoneimage>images/catalogue.png</smartphoneimage>
        <description>Introspect and update attributes of entitites stored in a Orion Context Broker Server</description>
        <longdescription>DESCRIPTION.md</longdescription>
        <doc>https://github.com/wirecloud-fiware/ngsi-updater</doc>
        <changelog>doc/changelog.md</changelog>
    </details>
    <requirements>
        <feature name="NGSI"/>
    </requirements>
    <preferences>
        <preference name="ngsi_server" type="text" label="NGSI Server" description="NGSI Server where the lamp post info is located" default="http://orion.lab.fiware.org:1026/"/>
        <preference name="entity_types" type="text" label="NGSI entity types" description="A comma separated list of entity types to use for filtering entities from the Orion Context broker. This field cannot be empty." default=""/>
        <preference name="entity_id_pattern" type="text" label="Entity Id Filter" description="Id parttern of the entities to monitorize on the Orion Context Broker server" default=".*"/>
    </preferences>
    <wiring/>
    <contents src="index.html" useplatformstyle="true"/>
    <rendering width="6" height="28"/>
</widget>
